@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.main-carousel-swiper.swiper {
  position: relative;
  width: 100%;
  height: 480px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #00000054;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-carousel-swiper .swiper-button-prev {
  left: 2rem !important;
}

.main-carousel-swiper .swiper-button-next {
  right: 2rem !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.28);
  width: 2.5rem !important;
  height: 2.5rem !important;
  opacity: 0.2;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #4b4b4b !important;
  font-size: 12px !important;
  font-weight: 700 !important;
}

.overlay-gradient-video {
  background: -webkit-linear-gradient(left, rgba(14, 26, 32, 0) 100%, #0e1820 0),
    -webkit-linear-gradient(181.57deg, rgba(14, 24, 32, 0) 11.7%, #0e1820 62.24%, #0e1820
          84.81%),
    -webkit-linear-gradient(271.43deg, rgba(14, 24, 32, 0) 49.24%, transparent
          74.69%, #0e1820 107.18%);
  background: linear-gradient(90deg, rgba(14, 26, 32, 0) 100%, #0e1820 0),
    linear-gradient(
      268.43deg,
      rgba(14, 24, 32, 0) 11.7%,
      #0e1820 62.24%,
      #0e1820 84.81%
    ),
    linear-gradient(
      178.57deg,
      rgba(14, 24, 32, 0) 49.24%,
      transparent 74.69%,
      #0e1820 107.18%
    );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.video-container-swiper {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.conatiner-headline-details {
  -webkit-transform: none;
  transform: none;
  -webkit-transition: opacity 0.6s ease-out, visibility 0.6s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, visibility 0.6s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out,
    visibility 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out,
    visibility 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

.container-banner-details {
  background: #1e1e1e;
  margin: auto;
  padding-top: 35.19%;
  position: relative;
  z-index: 2;
  -webkit-transition: opacity 1.2s ease-out, visibility 1.2s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 1.2s ease-out, visibility 1.2s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 1.2s ease-out, transform 0.6s ease-out,
    visibility 1.2s ease-out;
  transition: opacity 1.2s ease-out, transform 0.6s ease-out,
    visibility 1.2s ease-out, -webkit-transform 0.6s ease-out;
}

.overlay-gradient-detail {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1e1e1e),
    color-stop(43.53%, rgba(30, 30, 30, 0.59)),
    to(rgba(30, 30, 30, 0))
  );
  background: -webkit-linear-gradient(
    left,
    #1e1e1e,
    rgba(30, 30, 30, 0.59) 43.53%,
    rgba(30, 30, 30, 0)
  );
  background: linear-gradient(
    90deg,
    #1e1e1e,
    rgba(30, 30, 30, 0.59) 43.53%,
    rgba(30, 30, 30, 0)
  );
  height: 100%;
  position: absolute;
  top: 0;
  width: 50%;
}

.video-js video {
  object-fit: contain;
}

.video-js .vjs-text-track-display {
  bottom: 6em;
}

.video-js.vjs-has-started.vjs-paused .vjs-control-bar,
.video-js.vjs-has-started.vjs-paused .vjs-control-bar .vjs-control,
.video-js.vjs-has-started.vjs-playing .vjs-control-bar,
.video-js.vjs-has-started.vjs-playing .vjs-control-bar .vjs-control {
  -webkit-transition: visibility 0.7s ease, opacity 0.7s ease;
  -moz-transition: visibility 0.7s ease, opacity 0.7s ease;
  -ms-transition: visibility 0.7s ease, opacity 0.7s ease;
  -o-transition: visibility 0.7s ease, opacity 0.7s ease;
  transition: visibility 0.7s ease, opacity 0.7s ease;
}

.vjs-has-started .vjs-control-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  -moz-transition: visibility 0.1s, opacity 0.1s;
  -o-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
  visibility: visible;
}

.vjs-user-inactive .vjs-control-bar:before {
  opacity: 0;
}

@media screen and (min-width: 48em) {
  .video-js .vjs-control-bar {
    height: auto;
    padding: 24px 0;
  }

  .video-js .vjs-control-bar:before {
    height: 333.33333%;
  }

  .video-js .vjs-progress-control {
    margin: 0 0 0 24px;
    width: calc(100% - 108px);
  }
}

.video-js .vjs-control-bar:before {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.36) 25%,
    rgba(0, 0, 0, 0.2) 50%,
    transparent
  );
  bottom: 0;
  content: "";
  height: 200%;
  pointer-events: none;
  position: absolute;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  width: 100%;
}

.video-js .vjs-progress-control {
  bottom: 100%;
  height: 15px;
  margin-left: 16px;
  opacity: 1;
  position: absolute;
  width: calc(100% - 75px);
  z-index: 0;
}

.video-js .vjs-slider {
  margin: 0;
}

@media screen and (min-width: 30em) {
  .video-js .vjs-progress-holder,
  .video-js .vjs-progress-holder .vjs-load-progress,
  .video-js .vjs-progress-holder .vjs-load-progress div,
  .video-js .vjs-progress-holder .vjs-play-progress {
    height: 5px;
  }
}

.video-js .vjs-progress-holder,
.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div,
.video-js .vjs-progress-holder .vjs-play-progress {
  border-radius: 10px;
  height: 3.5px;
  -webkit-transition: height 0.1s;
  -moz-transition: height 0.1s;
  -ms-transition: height 0.1s;
  -o-transition: height 0.1s;
  transition: height 0.1s;
}
