@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.inner-shadow-header {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 1024px) {
  .inner-shadow-header {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.55)),
      to(transparent)
    );
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.55), transparent);
    background: linear-gradient(rgba(0, 0, 0, 0.55), transparent);
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 56px;
  }
}

.main-carousel-swiper,
.mobile-carousel-swiper,
.container-banner-details {
  animation: zoom-in-zoom-out 2s ease;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.main-carousel-swiper.swiper {
  position: relative;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #00000054;
  justify-content: center;
  align-items: center;
  height: auto !important;
}

.mobile-carousel-swiper .swiper-slide {
  display: flex;
}

.mobile-categories-swiper .swiper-slide {
  background: none;
  width: auto !important;
}

.swiper-slide img:not(.top-number) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile-carousel-swiper .swiper-slide img {
  height: auto;
  width: 100%;
  object-fit: unset;
}

.top-carousel-swiper .swiper-slide img:not(.top-number) {
  height: auto;
  min-height: 100%;
  min-width: 100%;
  object-fit: unset;
}

.main-carousel-swiper .swiper-button-prev {
  left: 2rem !important;
}

.main-carousel-swiper .swiper-button-next {
  right: 2rem !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.28);
  width: 2.5rem !important;
  height: 2.5rem !important;
  opacity: 0.2;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #4b4b4b !important;
  font-size: 12px !important;
  font-weight: 700 !important;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
  }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}

.overlay-gradient-video {
  background: -webkit-linear-gradient(left, rgba(14, 26, 32, 0) 100%, #0e1820 0),
    -webkit-linear-gradient(181.57deg, rgba(14, 24, 32, 0) 11.7%, #0e1820 62.24%, #0e1820
          84.81%),
    -webkit-linear-gradient(271.43deg, rgba(14, 24, 32, 0) 49.24%, transparent
          74.69%, #0e1820 107.18%);
  background: linear-gradient(90deg, rgba(14, 26, 32, 0) 100%, #0e1820 0),
    linear-gradient(
      268.43deg,
      rgba(14, 24, 32, 0) 11.7%,
      #0e1820 62.24%,
      #0e1820 84.81%
    ),
    linear-gradient(
      178.57deg,
      rgba(14, 24, 32, 0) 49.24%,
      transparent 74.69%,
      #0e1820 107.18%
    );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.swiper-slide .video-js {
  display: contents;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.swiper-slide .video-js .vjs-tech {
  object-fit: cover;
  left: unset;
  right: 0;
}

.container-headline-details {
  -webkit-transform: none;
  transform: none;
  -webkit-transition: opacity 0.6s ease-out, visibility 0.6s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, visibility 0.6s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out,
    visibility 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out,
    visibility 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

.container-banner-details {
  background: #1e1e1e;
  margin: auto;
  padding-top: 35.19%;
  position: relative;
  z-index: 2;
  -webkit-transition: opacity 1.2s ease-out, visibility 1.2s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 1.2s ease-out, visibility 1.2s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 1.2s ease-out, transform 0.6s ease-out,
    visibility 1.2s ease-out;
  transition: opacity 1.2s ease-out, transform 0.6s ease-out,
    visibility 1.2s ease-out, -webkit-transform 0.6s ease-out;
}

.overlay-gradient-detail {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1e1e1e),
    color-stop(43.53%, rgba(30, 30, 30, 0.59)),
    to(rgba(30, 30, 30, 0))
  );
  background: -webkit-linear-gradient(
    left,
    #1e1e1e,
    rgba(30, 30, 30, 0.59) 43.53%,
    rgba(30, 30, 30, 0)
  );
  background: linear-gradient(
    90deg,
    #1e1e1e,
    rgba(30, 30, 30, 0.59) 43.53%,
    rgba(30, 30, 30, 0)
  );
  height: 100%;
  position: absolute;
  top: 0;
  width: 50%;
}

.watch-carousel-swiper .swiper-wrapper,
.top-carousel-swiper .swiper-wrapper {
  align-items: center;
}

.watch-carousel-swiper .swiper-slide {
  background: transparent !important;
}

.watch-carousel-swiper.watch-carousel-swiper-mobile
  .swiper-wrapper
  > .swiper-slide:first-child {
  margin-left: 16px;
}

.sections-overlay-background {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#15235c),
    to(#0c143b)
  );
  background-image: -webkit-linear-gradient(top, #15235c, #0c143b);
  background-image: linear-gradient(180deg, #15235c, #0c143b);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.curtain {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.curtain__wrapper {
  width: 100%;
  height: 100%;
}

.curtain__wrapper input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

.curtain__wrapper input[type="checkbox"]:checked ~ div.curtain__panel--left,
.curtain__wrapper input[type="checkbox"]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
  background-color: #000000;
}

.curtain__panel {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: #fff;
  float: left;
  position: relative;
  width: 50%;
  transition: all 2s ease-out;
  z-index: 30;
}

.curtain__wrapper input[type="checkbox"]:not(:checked) ~ .curtain__panel--left {
  justify-content: flex-end;
  transform: translateX(-100%);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.902) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );
  animation: fadeOutX ease-in 300s;
}
.curtain__wrapper
  input[type="checkbox"]:not(:checked)
  ~ .curtain__panel--right {
  justify-content: flex-start;
  transform: translateX(100%);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    270deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.902) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );
  animation: fadeOutX ease-out 300s;
}

@media only screen and (min-width: 1280px) {
  .curtain__wrapper input[type="checkbox"]:checked ~ div.curtain__panel--left,
  .curtain__wrapper input[type="checkbox"]:checked ~ div.curtain__panel--right,
  .curtain__panel,
  .curtain__wrapper
    input[type="checkbox"]:not(:checked)
    ~ .curtain__panel--left,
  .curtain__wrapper
    input[type="checkbox"]:not(:checked)
    ~ .curtain__panel--right {
    background: rgb(12, 20, 59);
  }

  .curtain__wrapper
    input[type="checkbox"]:not(:checked)
    ~ .curtain__panel--left {
    background: rgb(12, 20, 59);
    background: linear-gradient(
      90deg,
      rgba(12, 20, 59, 1) 0%,
      rgba(12, 20, 59, 0.9023984593837535) 50%,
      rgba(12, 20, 59, 0.3) 100%
    );
  }

  .curtain__wrapper
    input[type="checkbox"]:not(:checked)
    ~ .curtain__panel--right {
    background: rgb(12, 20, 59);
    background: linear-gradient(
      270deg,
      rgba(12, 20, 59, 1) 0%,
      rgba(12, 20, 59, 0.9023984593837535) 50%,
      rgba(12, 20, 59, 0.3) 100%
    );
  }
}

@keyframes fadeOutX {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0;
  }
}

.home-carousel-swiper .swiper-slide,
.all-episode-section li.list-episode,
.trailer-section li.list-trailer,
.extras-section li.list-extras,
.similar-video-section li.list-similar-video {
  animation: fadeInY 1s ease-in both;
}

.home-carousel-swiper .swiper-slide.outviewport,
.all-episode-section li.list-episode.outviewport,
.trailer-section li.list-trailer.outviewport,
.extras-section li.list-extras.outviewport,
.similar-video-section li.list-similar-video.outviewport {
  animation: fadeOutY 1s ease-out both;
}

.home-carousel-swiper .swiper-slide.inviewport:nth-child(2),
.trailer-section li.list-trailer:nth-child(2),
.extras-section li.list-extras:nth-child(2),
.similar-video-section li.list-similar-video:nth-child(2) {
  animation-delay: 0.5s;
}
.home-carousel-swiper .swiper-slide.inviewport:nth-child(3),
.trailer-section li.list-trailer:nth-child(3),
.extras-section li.list-extras:nth-child(3),
.similar-video-section li.list-similar-video:nth-child(3) {
  animation-delay: 0.75s;
}
.home-carousel-swiper .swiper-slide.inviewport:nth-child(4),
.similar-video-section li.list-similar-video:nth-child(4) {
  animation-delay: 1s;
}
.home-carousel-swiper .swiper-slide.inviewport:nth-child(5),
.similar-video-section li.list-similar-video:nth-child(5) {
  animation-delay: 1.25s;
}
.home-carousel-swiper .swiper-slide.inviewport:nth-child(6) {
  animation-delay: 1.5s;
}
.home-carousel-swiper .swiper-slide.inviewport:nth-child(7) {
  animation-delay: 1.75s;
}

@keyframes fadeInY {
  0% {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutY {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.curtain__content {
  position: absolute;
  width: 100%;
}

.tabs-detail-video .react-tabs__tab-list {
  border-color: #4b4b4b;
}

.tabs-detail-video .react-tabs__tab.react-tabs__tab--selected {
  background: transparent;
  color: white;
  border-bottom-color: #223893;
}

.tabs-detail-video .react-tabs__tab {
  border-color: transparent;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  border: solid transparent;
  border-width: 0 0 3px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  line-height: 20px;
  min-width: 104px;
  overflow: hidden;
  padding: 0 16px;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: color 0.2s linear, border-bottom-color 0.2s linear;
  transition: color 0.2s linear, border-bottom-color 0.2s linear;
  vertical-align: top;
  color: rgb(107 114 128);
}

.detail-selected-bottom {
  animation: fadeInYSelectedBottom 0.5s ease-out both;
}

.detail-selected-bottom-hidden {
  animation: fadeOutYSelectedBottom 0.5s ease-out both;
}

@keyframes fadeInYSelectedBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutYSelectedBottom {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.icon-arrow-right-view-all {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(hsla(0, 0%, 67%, 0.12)),
    color-stop(98.94%, hsla(0, 0%, 45%, 0.02))
  );
  background: -webkit-linear-gradient(
    top,
    hsla(0, 0%, 67%, 0.12),
    hsla(0, 0%, 45%, 0.02) 98.94%
  );
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 67%, 0.12),
    hsla(0, 0%, 45%, 0.02) 98.94%
  );
  border: 1px solid hsla(0, 0%, 60%, 0.1);
}

.quality-list {
  position: absolute;
  bottom: 100%;
  width: 100%;
  background-color: rgba(43, 51, 63, 0.7);
  padding: 0.5rem;
}

.video-js .vjs-control:has(> div.quality-list) {
  width: 6.5rem;
}

.vjs-menu-title-bar {
  cursor: auto;
}

.vjs-menu-title-bar span {
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0.2em 0;
  margin-bottom: 0.5rem;
  font-size: 1.2em;
  text-align: center;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

@media only screen and (max-width: 639px) {
  .not-found-video div.image {
    height: 10rem;
  }

  .not-found-video h2 {
    font-size: 1rem;
  }

  .not-found-video p {
    font-size: 0.5rem;
  }
}

@media only screen and (min-width: 640px) {
  .not-found-video div.image {
    height: 15rem;
  }
}

@media only screen and (min-width: 768px) {
  .not-found-video div.image {
    height: 20rem;
  }

  .not-found-video h2 {
    font-size: 1.5rem;
  }

  .not-found-video p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .not-found-video div.image {
    height: 20rem;
  }

  .not-found-video h2 {
    font-size: 2rem;
  }

  .not-found-video p {
    font-size: 1.25rem;
  }
}

.not-found-video div.image {
  background: url("../public/no-video.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.not-found-video h2 {
  text-align: center;
}

.not-found-video p {
  text-align: center;
}

.video-js .vjs-control.vjs-close-button {
  display: none;
}

#search-mobile-nav::-webkit-search-cancel-button {
  position: relative;
  right: 16px;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #1f2937;
  border-radius: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

.loading-container {
  width: 100%;
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 40;
  right: 25%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.loading-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  animation: movingLine 2.4s infinite ease-in-out;
}

@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }

  33.3%,
  66% {
    opacity: 0.8;
    width: 100%;
  }

  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 0;
  }
}

.loading-text {
  font-size: 5vw;
  line-height: 64px;
  letter-spacing: 10px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
}

.loading-text span {
  animation: moveLetters 2.4s infinite ease-in-out;
  transform: translateX(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}

.loading-text span:nth-child(1) {
  animation-delay: 0.1s;
}

.loading-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
  animation-delay: 0.3s;
}

.loading-text span:nth-child(4) {
  animation-delay: 0.4s;
}

.loading-text span:nth-child(5) {
  animation-delay: 0.5s;
}

.loading-text span:nth-child(6) {
  animation-delay: 0.6s;
}

.loading-text span:nth-child(7) {
  animation-delay: 0.7s;
}

@keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }

  33.3%,
  66% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}
