@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.inner-shadow-header {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 1024px) {
  .inner-shadow-header {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.55)),
      to(transparent)
    );
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.55), transparent);
    background: linear-gradient(rgba(0, 0, 0, 0.55), transparent);
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 56px;
  }
}

.main-carousel-swiper {
  animation: zoom-in-zoom-out 2s ease;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.main-carousel-swiper.swiper {
  position: relative;
  width: 100%;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #00000054;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important;
}

.mobile-categories-swiper .swiper-slide {
  background: none;
  width: auto !important;
}

.swiper-slide img:not(.top-number) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-carousel-swiper .swiper-slide img {
  height: auto;
  width: 100%;
  object-fit: unset;
}

.top-carousel-swiper .swiper-slide img:not(.top-number) {
  height: auto;
  min-height: 100%;
  min-width: 100%;
  object-fit: unset;
}

.main-carousel-swiper .swiper-button-prev {
  left: 2rem !important;
}

.main-carousel-swiper .swiper-button-next {
  right: 2rem !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.28);
  width: 2.5rem !important;
  height: 2.5rem !important;
  opacity: 0.2;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #4b4b4b !important;
  font-size: 12px !important;
  font-weight: 700 !important;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
  }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}

.overlay-gradient-video {
  background: -webkit-linear-gradient(left, rgba(14, 26, 32, 0) 100%, #0e1820 0),
    -webkit-linear-gradient(181.57deg, rgba(14, 24, 32, 0) 11.7%, #0e1820 62.24%, #0e1820
          84.81%),
    -webkit-linear-gradient(271.43deg, rgba(14, 24, 32, 0) 49.24%, transparent
          74.69%, #0e1820 107.18%);
  background: linear-gradient(90deg, rgba(14, 26, 32, 0) 100%, #0e1820 0),
    linear-gradient(
      268.43deg,
      rgba(14, 24, 32, 0) 11.7%,
      #0e1820 62.24%,
      #0e1820 84.81%
    ),
    linear-gradient(
      178.57deg,
      rgba(14, 24, 32, 0) 49.24%,
      transparent 74.69%,
      #0e1820 107.18%
    );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.video-container-swiper {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.conatiner-headline-details {
  -webkit-transform: none;
  transform: none;
  -webkit-transition: opacity 0.6s ease-out, visibility 0.6s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, visibility 0.6s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out,
    visibility 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out,
    visibility 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

.container-banner-details {
  background: #1e1e1e;
  margin: auto;
  padding-top: 35.19%;
  position: relative;
  z-index: 2;
  -webkit-transition: opacity 1.2s ease-out, visibility 1.2s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 1.2s ease-out, visibility 1.2s ease-out,
    -webkit-transform 0.6s ease-out;
  transition: opacity 1.2s ease-out, transform 0.6s ease-out,
    visibility 1.2s ease-out;
  transition: opacity 1.2s ease-out, transform 0.6s ease-out,
    visibility 1.2s ease-out, -webkit-transform 0.6s ease-out;
}

.overlay-gradient-detail {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1e1e1e),
    color-stop(43.53%, rgba(30, 30, 30, 0.59)),
    to(rgba(30, 30, 30, 0))
  );
  background: -webkit-linear-gradient(
    left,
    #1e1e1e,
    rgba(30, 30, 30, 0.59) 43.53%,
    rgba(30, 30, 30, 0)
  );
  background: linear-gradient(
    90deg,
    #1e1e1e,
    rgba(30, 30, 30, 0.59) 43.53%,
    rgba(30, 30, 30, 0)
  );
  height: 100%;
  position: absolute;
  top: 0;
  width: 50%;
}

.watch-carousel-swiper .swiper-wrapper,
.top-carousel-swiper .swiper-wrapper {
  align-items: center;
}

.watch-carousel-swiper .swiper-slide {
  background: transparent !important;
}

.sections-overlay-background {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#15235c),
    to(#0c143b)
  );
  background-image: -webkit-linear-gradient(top, #15235c, #0c143b);
  background-image: linear-gradient(180deg, #15235c, #0c143b);
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.curtain {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.curtain__wrapper {
  width: 100%;
  height: 100%;
}

.curtain__wrapper input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

.curtain__wrapper input[type="checkbox"]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
  background: rgb(12, 20, 59);
  /* background: linear-gradient(
    90deg,
    rgba(12, 20, 59, 1) 0%,
    rgba(12, 20, 59, 0.9023984593837535) 50%,
    rgba(12, 20, 59, 0) 100%
  ); */
}

.curtain__wrapper input[type="checkbox"]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
  background: rgb(12, 20, 59);
  /* background: linear-gradient(
    270deg,
    rgba(12, 20, 59, 1) 0%,
    rgba(12, 20, 59, 0.9023984593837535) 50%,
    rgba(12, 20, 59, 0) 100%
  ); */
}

.curtain__panel {
  display: flex;
  align-items: center;
  background: #0c143b;
  color: #fff;
  float: left;
  position: relative;
  width: 50%;
  height: 100vh;
  transition: all 2s ease-out;
  z-index: 2;
}

.curtain__wrapper input[type="checkbox"]:not(:checked) ~ .curtain__panel--left {
  justify-content: flex-end;
  transform: translateX(-100%);
  background: rgb(12, 20, 59);
  background: linear-gradient(
    90deg,
    rgba(12, 20, 59, 1) 0%,
    rgba(12, 20, 59, 0.9023984593837535) 50%,
    rgba(12, 20, 59, 0.3) 100%
  );
  animation: fadeOutX ease-in 100s;
}
.curtain__wrapper
  input[type="checkbox"]:not(:checked)
  ~ .curtain__panel--right {
  justify-content: flex-start;
  transform: translateX(100%);
  background: rgb(12, 20, 59);
  background: linear-gradient(
    270deg,
    rgba(12, 20, 59, 1) 0%,
    rgba(12, 20, 59, 0.9023984593837535) 50%,
    rgba(12, 20, 59, 0.3) 100%
  );
  animation: fadeOutX ease-out 100s;
}

@keyframes fadeOutX {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0;
  }
}

.home-carousel-swiper .swiper-slide {
  animation: fadeInY 1s ease-in both;
}

.home-carousel-swiper .swiper-slide.outviewport {
  display: none;
}

.home-carousel-swiper .swiper-slide.inviewport:nth-child(2) {
	animation-delay: 0.5s;
}
.home-carousel-swiper .swiper-slide.inviewport:nth-child(3) {
	animation-delay: 0.75s;
}
.home-carousel-swiper .swiper-slide.inviewport:nth-child(4){
	animation-delay: 1s;
}
.home-carousel-swiper .swiper-slide.inviewport:nth-child(5){
	animation-delay: 1.25s;
}
.home-carousel-swiper .swiper-slide.inviewport:nth-child(6){
	animation-delay: 1.5s;
}
.home-carousel-swiper .swiper-slide.inviewport:nth-child(7) {
	animation-delay: 1.75s;
}

@keyframes fadeInY {
	0% {
		opacity: 0;
		transform: translate3d(0, -10%, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.curtain__content {
  position: absolute;
  width: 100%;
}
